body {
    background-color: #ddd;
    margin: 0;
}


.h1 {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
    background-color: #ffa;
}
.h2 {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
    background-color: #fef;
}

header {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
    background-color: #aa9;
}
form {
    width: 400px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    background-color: #fef;
}



nav {
    width: 840px;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
   
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li + li:before {
    content: '∘';
}
nav ul li a, nav ul li a:hover, nav ul li a:visited, nav ul li a:focus {
    padding: 5px;
    color: #000;
}
#tcs {
    float: right;
    padding: 10px;
    width :200px;
    height: 200px;

}

.btn {
    background: #fff;
    border: 2px solid #1D2B64;
    padding: 2px 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 20px;
}

.p{
    
    background: #fff;
    border: 2px dotted #1D2B64;
    width: 300px;
    height: 20px
    padding: 4px 5px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 20px;
    margin: 0 auto;
    font-size: 2rem;

}
table{
    border: 2px;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    background-color: #ffa;
}
